name: Publish package test [PyPI]

on:
  workflow_dispatch:

  release:
    types: [ published ]

permissions: read-all

jobs:
  build_sdk:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Checkout code with caching for Git LFS
        uses: nschloe/action-cached-lfs-checkout@f46300cd8952454b9f0a21a3d133d4bd5684cfc2 # v1.2.3

      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: 3.12

      - name: Install uv
        uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 # v7.1.3
        with:
          version: "0.7.13"
          enable-cache: false # do not consume caches in release builds to avoid cache poisoning

      - name: Prepare venv and install Python dependencies
        run: |
          uv lock --check
          uv sync --frozen

      # workaround for missing ownership of geti-sdk in test.pypi.org
      - name: Update package name for TestPyPI
        run: |
          sed -i 's/^name = "geti-sdk"$/name = "geti-sdk-test"/' pyproject.toml

      - name: Build package
        run: uv build

      - name: Upload wheel and source files as github artifact
        # Publish the built wheel and source tarball to github
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        if: ${{ always() }}
        with:
          name: geti_sdk
          path: dist

      - name: Upload package distributions to github
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2.4.2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          files: dist/*
          tag_name: ${{ github.ref }}

      - name: Publish package distributions to TestPyPI
        run: uv publish --index testpypi

      - name: Clean up dist directory if it was created
        if: ${{ always() }}
        run: |
          if OUTPUT=$(ls | grep -c dist)
          then
            echo "Cleaning up dist directory"
            rm -r dist
          fi
    permissions:
      contents: write # required by softprops/action-gh-release
      id-token: write # required by trusted publisher
