name: Publish package test [PyPI]

on:
  workflow_dispatch:

  release:
    types: [ published ]

permissions: read-all

jobs:
  build_sdk:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Checkout code with caching for Git LFS
        uses: nschloe/action-cached-lfs-checkout@f46300cd8952454b9f0a21a3d133d4bd5684cfc2 # v1.2.3

      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: 3.12

      - name: Install uv
        uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
        with:
          version: "0.7.13"
          enable-cache: false # do not consume caches in release builds to avoid cache poisoning

      - name: Prepare venv and install Python dependencies
        run: |
          uv lock --check
          uv sync --frozen

      # workaround for missing ownership of geti-sdk in test.pypi.org
      - name: Update package name for TestPyPI
        run: |
          sed -i 's/^name = "geti-sdk"$/name = "geti-sdk-test"/' pyproject.toml

      - name: Build package
        run: uv build

      - name: Upload wheel and source files as github artifact
        # Publish the built wheel and source tarball to github
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: ${{ always() }}
        with:
          name: geti_sdk
          path: dist

      - name: Upload package distributions to github
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          files: dist/*
          tag_name: ${{ github.ref }}

      - name: Publish package distributions to TestPyPI
        run: uv publish --index testpypi

      - name: Clean up dist directory if it was created
        if: ${{ always() }}
        run: |
          if OUTPUT=$(ls | grep -c dist)
          then
            echo "Cleaning up dist directory"
            rm -r dist
          fi
    permissions:
      contents: write # required by softprops/action-gh-release
      id-token: write # required by trusted publisher
