name: Pre-merge tests

# Controls when the action will run. This action can be triggered manually
# (workflow_dispatch trigger), and it will be run automatically when a PR to main is made.
on:
  workflow_dispatch:

  pull_request:
    branches:
      - main
      - "releases/**"

env:
  PREMERGE_TEST_REPORT: pre_merge_test_report.html
  REPORT_DIRECTORY: reports
  PYTHONUTF8: "1"

permissions: {} # No permissions by default

jobs:
  pr_tests:
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
      checks: read
      actions: read
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
        os: [ubuntu-latest, windows-latest, macos-latest]
        include: # Run test with legacy cassette (Currently - Geti 2.0)
          - os: ubuntu-24.04
            python-version: "3.10"
            env: GETI_PLATFORM_VERSION=LEGACY
      fail-fast: true
      max-parallel: 5

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          lfs: true
          persist-credentials: false

      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install uv
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
        with:
          version: "0.7.13"

      - name: Prepare venv and install Python dependencies
        run: |
          uv lock --check
          uv sync --frozen

      - name: Create report directory
        # Creates the temporary directory that is used to store the test report
        run: |
          mkdir -p env.REPORT_DIRECTORY

      - name: Check formatting with ruff
        run: |
          uv run ruff check --output-format=github .
          uv run ruff format --check .

      - name: Test with pytest
        run: |
          uv run pytest tests/pre-merge -c tests/offline.ini --cov=geti_sdk --html=env.REPORT_DIRECTORY/env.PREMERGE_TEST_REPORT --self-contained-html --cov-report html:env.REPORT_DIRECTORY/coverage

      - name: Upload test report for pre-merge tests
        # Publish the test report to github
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: ${{ always() }}
        with:
          name: pre-merge-test-reports
          path: ${{ env.REPORT_DIRECTORY }}

      - name: Clean up report directories
        # Remove temporary report directory
        if: ${{ always() }}
        run: |
          rm -r env.REPORT_DIRECTORY
