name: Pre-merge tests

# Controls when the action will run. This action can be triggered manually
# (workflow_dispatch trigger), and it will be run automatically when a PR to main is made.
on:
  workflow_dispatch:

  pull_request:
    branches:
      - main
      - "releases/**"

env:
  PREMERGE_TEST_REPORT: pre_merge_test_report.html
  REPORT_DIRECTORY: reports
  PYTHONUTF8: "1"

permissions: {} # No permissions by default

jobs:
  pr_tests:
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
      checks: read
      actions: read
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12"]
        os: [ubuntu-latest, windows-latest, macos-latest]
        include: # Run test with legacy cassette (Currently - Geti 2.0)
          - os: ubuntu-24.04
            python-version: "3.10"
            env: GETI_PLATFORM_VERSION=LEGACY
      fail-fast: true
      max-parallel: 5

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@002fdce3c6a235733a90a27c80493a3241e56863 # v2.12.1
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          lfs: true
          persist-credentials: false

      - name: Set up Python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install uv
        uses: astral-sh/setup-uv@445689ea25e0de0a23313031f5fe577c74ae45a1 # v6.3.0
        with:
          version: "0.7.13"

      - name: Prepare venv and install Python dependencies
        run: |
          uv lock --check
          uv sync --frozen

      - name: Create report directory
        # Creates the temporary directory that is used to store the test report
        run: |
          mkdir -p env.REPORT_DIRECTORY

      - name: Check formatting with ruff
        run: |
          uv run ruff check --output-format=github .
          uv run ruff format --check .

      - name: Test with pytest
        run: |
          uv run pytest tests/pre-merge -c tests/offline.ini --cov=geti_sdk --html=env.REPORT_DIRECTORY/env.PREMERGE_TEST_REPORT --self-contained-html --cov-report html:env.REPORT_DIRECTORY/coverage

      - name: Upload test report for pre-merge tests
        # Publish the test report to github
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        if: ${{ always() }}
        with:
          name: pre-merge-test-reports
          path: ${{ env.REPORT_DIRECTORY }}

      - name: Clean up report directories
        # Remove temporary report directory
        if: ${{ always() }}
        run: |
          rm -r env.REPORT_DIRECTORY

  zizmor-scan-pr:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@002fdce3c6a235733a90a27c80493a3241e56863 # v2.12.1
        with:
          egress-policy: audit
      - name: Run Zizmor scan
        uses: open-edge-platform/geti-ci/actions/zizmor@db5335076dfe564b039b5a7480b8f6b6ae38370a
        with:
          scan-scope: "changed"
          severity-level: "MEDIUM"
          confidence-level: "HIGH"
          fail-on-findings: true
  bandit-scan-pr:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@002fdce3c6a235733a90a27c80493a3241e56863 # v2.12.1
        with:
          egress-policy: audit
      - name: Run Bandit scan
        uses: open-edge-platform/geti-ci/actions/bandit@db5335076dfe564b039b5a7480b8f6b6ae38370a
        with:
          scan-scope: "changed"
          severity-level: "LOW"
          confidence-level: "LOW"
          config_file: "pyproject.toml"
          fail-on-findings: true
